{% extends '_base.html' %}
{% load static %}

{% block content %}
    

    
    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">زندگی بهتر با کریپتوکوین مورد اعتماد</h1>
                    <p class="animated slideInDown">موقتا الیتر ریبوم در کلیتا. درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                    <a href="" class="btn btn-primary py-3 px-4 animated slideInDown">بیشتر کاوش کنید</a>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="{% static 'img/hero-1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid" src="{% static 'img/about.png' %}" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        
                <h1 class="display-6">درباره ما</h1>
                <p class="text-primary fs-5 mb-4">معتبرترین پلتفرم ارز دیجیتال</p>
                <p>موقتا الیتر ریبوم در کلیتا. درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                <p class="mb-4">موقتا الیتر ریبوم در کلیتا. درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                <div class="d-flex align-items-center mb-2">
                    <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                    <span>موقتا الیتر ریبوم در کلیتا</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                    <span>موقتا الیتر ریبوم در کلیتا</span>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <i class="fa fa-check bg-light text-primary btn-sm-square rounded-circle me-3 fw-bold"></i>
                    <span>موقتا الیتر ریبوم در کلیتا</span>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-xxl bg-light py-5 my-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-9.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">تراکنش های امروز</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-10.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">تراکنش های ماهانه</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="">
                    <h1 class="display-4" data-toggle="counter-up">123456</h1>
                    <p class="fs-5 text-primary mb-0">کل تراکنش ها</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6">چرا ما!</h1>
                <p class="text-primary fs-5 mb-5">بهترین در صنعت کریپتو</p>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-7.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">شروع آسان</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-6.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">امن و مطمئن</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-5.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">طرح های مقرون به صرفه</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-4.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">ذخیره سازی امن</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-3.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">محافظت شده توسط بیمه</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid flex-shrink-0" src="{% static 'img/icon-8.png' %}" alt="">
                        <div class="ps-4">
                            <h5 class="mb-3">پشتیبانی 24/7</h5>
                            <span>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Service Start -->
    <div class="container-xxl bg-light py-5 my-5">
        <div class="container py-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6">خدمات</h1>
                <p class="text-primary fs-5 mb-5">خرید، فروش و تبادل ارز دیجیتال</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-7.png' %}" alt="">
                        <h5 class="mb-3">کیف پول ارز</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-3.png' %}" alt="">
                        <h5 class="mb-3">تراکنش ارز</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-9.png' %}" alt="">
                        <h5 class="mb-3">سرمایه گذاری بیت کوین</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-5.png' %}" alt="">
                        <h5 class="mb-3">تبادل ارز</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="">
                        <h5 class="mb-3">بیت کوین اسکرو</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white p-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-8.png' %}" alt="">
                        <h5 class="mb-3">فروش توکن</h5>
                        <p>علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات</p>
                        <!-- <a href="">بیشتر بخوانید <i class="fa fa-arrow-right ms-2"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Roadmap Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6">نقشه راه</h1>
                <p class="text-primary fs-5 mb-5">ما رویای شما را به واقعیت تبدیل می کنیم</p>
            </div>
            <div class="owl-carousel roadmap-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>ژانویه 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>مارس 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>می 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>جولای 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>سپتامبر 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>نوامبر 2045</h5>
                    <span>درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Roadmap End -->
    <!-- فروش توکن Start -->
    <div class="container-xxl bg-light py-5 my-5">
        <div class="container py-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6">فروش توکن</h1>
                <p class="text-primary fs-5 mb-5">شمارش معکوس فروش توکن</p>
            </div>
            <div class="row g-3">
                <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="bg-white text-center p-3">
                        <h1 class="mb-0" id="days">10</h1>
                        <span class="text-primary fs-5">روز</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white text-center p-3">
                        <h1 class="mb-0" id="hours">0</h1>
                        <span class="text-primary fs-5">ساعت</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.5s">
                    <div class="bg-white text-center p-3">
                        <h1 class="mb-0" id="minutes">0</h1>
                        <span class="text-primary fs-5">دقیقه</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 wow fadeIn" data-wow-delay="0.7s">
                    <div class="bg-white text-center p-3">
                        <h1 class="mb-0" id="seconds">0</h1>
                        <span class="text-primary fs-5">ثانیه</span>
                    </div>
                </div>
            </div>
            <script>
                // Set the date we're counting down to
                var countDownDate = new Date().getTime() + 10 * 24 * 60 * 60 * 1000;

                // Update the count down every 1 second
                var x = setInterval(function() {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the elements with id
                    document.getElementById("days").innerHTML = days;
                    document.getElementById("hours").innerHTML = hours;
                    document.getElementById("minutes").innerHTML = minutes;
                    document.getElementById("seconds").innerHTML = seconds;

                    // If the count down is over, write some text 
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("days").innerHTML = "0";
                        document.getElementById("hours").innerHTML = "0";
                        document.getElementById("minutes").innerHTML = "0";
                        document.getElementById("seconds").innerHTML = "0";
                    }
                }, 1000);
            </script>
                <div class="col-12 text-center py-4">
                    <!-- <a class="btn btn-primary py-3 px-4" href="">خرید توکن</a> -->
                </div>
                <div class="col-12 text-center">
                    <img class="img-fluid m-1" src="{% static 'img/payment-1.png' %}" alt="" style="width: 50px;">
                    <img class="img-fluid m-1" src="{% static 'img/payment-2.png' %}" alt="" style="width: 50px;">
                    <img class="img-fluid m-1" src="{% static 'img/payment-3.png' %}" alt="" style="width: 50px;">
                    <img class="img-fluid m-1" src="{% static 'img/payment-4.png' %}" alt="" style="width: 50px;">
                </div>
            </div>
        </div>
    </div>
    <!-- فروش توکن End -->

    <!-- FAQs Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6">سوالات متداول</h1>
                <p class="text-primary fs-5 mb-5">سوالات متداول</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.1s">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    چگونه یک وب سایت بسازیم؟
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    چقدر طول می کشد تا یک وب سایت جدید دریافت کنید؟
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.3s">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    آیا فقط وب سایت های HTML ایجاد می کنید؟
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    آیا وب سایت من موبایل پسند خواهد بود؟
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    آیا سایت من را برای من نگهداری می کنید؟
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    من بودجه محدودی دارم. آیا گزینه های کم هزینه ای دارید؟
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.7s">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    آیا سایت من را برای من نگهداری می کنید؟
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.8s">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    من بودجه محدودی دارم. آیا گزینه های کم هزینه ای دارید؟
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    درد الماس درد الماس نشستن. علیق الماس آمات الماس و ائوس. کلیتا بود و لورم و نشستن، اما لورم نشستن کلیتا دو فقط مگنا درد بود آمات.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQs End -->

    {% endblock %}